.ArticleDetail {
  border-radius: 5px;
  background-color: white;
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.topic {
  font-weight: bold;
  color: black;
  font-size: 0.8em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.posted {
  color: gray;
  font-size: 0.8em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.date {
  color: gray;
  font-size: 0.8em;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.title {
  font-size: 1.2em;
  color: black;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 1em;
}
.body {
  color: black;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.comments {
  font-size: 0.8em;
  color: gray;
}
.votes {
  font-size: 0.8em;
  color: gray;
}
.commentIcon {
  height: 1.2em;
  display: inline-block;
  vertical-align: middle;
}

.commentPara {
  font-size: 0.8em;
  display: inline-block;
  padding-left: 0.2em;
}

.posting_div {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 0.2em;
}
.posting_input {
  width: 90%;

  /* text-align: center; */
  max-width: 500px;
  /* margin-left: auto;
  margin-right: auto; */
}

.posting_display {
  display: none;
}
