.li {
  background-color: white;
  margin: 1em;
  border-radius: 10px;
}

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.topic {
  font-weight: bold;
  color: black;
  font-size: 0.8em;
}

.posted {
  color: gray;
  font-size: 0.8em;
}

.date {
  color: gray;
  font-size: 0.8em;
}

.title {
  font-size: 1.2em;
  color: black;
}
.body {
  color: black;
}

.comments {
  font-size: 0.8em;
  color: gray;
  display: inline-block;
  margin: 1em;
}
.styles.makeComment {
  height: 1em;
  width: auto;
}

.votes {
  font-size: 0.8em;
  color: gray;
  display: inline-block;
  margin: 1em;
}
