html,
body,
#app {
  height: 100%;
  width: 100%;
}

.container {
  background-color: rgb(13, 13, 82);
  height: 100%;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;

  background-position: center;
  /* background-repeat: no-repeat; */

  /* background-size: cover; */
  object-fit: cover;
}
